# تجاهل مجلدات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملفات البيئة الافتراضية (إذا استخدمتها مستقبلاً)
.env
venv/

# تجاهل بيانات Docker الدائمة (مهم جدًا)
# هذه المجلدات تحتوي على بيانات قواعد البيانات ولا يجب رفعها
mongo-data/
postgres-data/
metabase-data/

# تجاهل ملفات الإعدادات الخاصة ببعض برامج التعديل
.vscode/
.idea/
